{
    "singleQuote": true,
    "bracketSameLine": true,
    "jsxSingleQuote": true,
    "tabWidth": 4,
    "importOrder": [
        "^@db/(.*)$",
        "^@services/(.*)$",
        "^@components/(.*)$",
        "",
        "^@hooks/(.*)$",
        "",
        "^@constants/(.*)$",
        "",
        "^[./]"
    ],
    "plugins": ["@ianvs/prettier-plugin-sort-imports"]
}
