@import '@vars';

.datesContainer {
    padding-top: 170px;
    max-width: 1440px;

    margin: 0 auto;

    .content {
        position: relative;

        &Container {
            padding-top: 45px;
        }
    }

    h2 {
        margin: 0;
        position: absolute;
        max-width: 353px;
        font-size: 56px;
        line-height: 120%;
        font-weight: 700;
        padding-left: 78px;
        color: $darkBlue;

        &::before {
            position: absolute;
            left: 0;
            top: 0;
            content: '';
            width: 5px;
            height: 100%;
            background: linear-gradient(180deg, $blue -5%, $pink 85%);
        }
    }

    .sliderPaginationContainer {
        display: flex;
        flex-direction: column;
    }

    .themeHeader {
        margin-top: 57px;
        padding-bottom: 25px;

        border-bottom: 1px solid $halfDarkBlue;

        span {
            font-size: 24px;
            color: $darkBlue;
        }
    }
}

@media screen and (max-width: $mobileWidth) {
    .datesContainer {
        padding-top: 0;
        margin-left: 20px;

        .content {
            margin-top: 56px;
        }

        h2 {
            position: relative;
            width: 136px;
            padding: 0;
            font-size: 20px / 320px * 100vw;

            &::before {
                display: none;
            }
        }

        .sliderPaginationContainer {
            flex-direction: column-reverse;
        }
    }
}
