h1 {
    cursor: default;
    display: inline-flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    top: 50px;
    gap: 70px;
    text-align: center;
    font-size: 200px;
    line-height: 160px;

    & .dateStart {
        color: #3877ee;
    }

    & .dateEnd {
        color: #ef5da8;
    }
}

@media screen and (max-width: 1000px) {
    h1 {
        position: static;
        display: inline;
        left: 0;
        line-height: 30px;
        transform: none;
        font-size: 56px / 320px * 100vw;
    }
}
